div#sobresentimentos
{
    background-image: url('../thumbs/img1.png');
    background-position: center center;
    background-size: 100%;
}

div#irresistivel
{
    background-image: url('../thumbs/img0.png');
    background-position: center center;
    background-size: 100%;
}

div#porqueamamos
{
    background-image: url('../thumbs/img2.png');
    background-position: center center;
    background-size: 100%;
}

div#comolidar
{
    background-image: url('../thumbs/img3.png');
    background-position: center center;
    background-size: 100%;
}

div#equando
{
    background-image: url('../thumbs/img4.png');
    background-position: center center;
    background-size: 100%;
}

div#comoavida
{
    background-image: url('../thumbs/img5.png');
    background-position: center center;
    background-size: 100%;
}

div#apatia
{
    background-image: url('../thumbs/img6.png');
    background-position: center center;
    background-size: 100%;
}

div#medo
{
    background-image: url('../thumbs/img7.png');
    background-position: center center;
    background-size: 100%;
}

div#ansiedade
{
    background-image: url('../thumbs/img8.png');
    background-position: center center;
    background-size: 100%;
}

div#vazio
{
    background-image: url('../thumbs/img9.png');
    background-position: center center;
    background-size: 100%;
}

div#urso
{
    background-image: url('../thumbs/img10.png');
    background-position: center center;
    background-size: 100%;
}

div#geracao
{
    background-image: url('../thumbs/img11.png');
    background-position: center center;
    background-size: 100%;
}

div#trouxa
{
    background-image: url('../thumbs/img12.png');
    background-position: center center;
    background-size: 100%;
}


